.reviewPageMain {
    width: 100%;
    /* padding: 10px; */
}

.b { border: 1px solid black; }

.gameTopBlurb {
    width: 99%;
    padding: 10px;
    /* height: 100px; */
    background: rgb(130,255,166);
    box-shadow: 1px 1px 2px rgb(255,80,80); 
    margin: 0 auto;
}
.gameTopBlurb>h1 {
    font-size: 40px;
}
.gameTopBlurb>h2 {
    font-size: 10px;
    margin-bottom: 3px;
}
.gameTopBlurb>span {
    width: 100%;
    display: flex;
    justify-content: center;
}
.gameTopBlurb>span>img {
    width: 150px;
}
.gameTopBlurb>h3 {
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 4px;
}
.gameTopBlurb>p {
    font-size: 15px;
    margin-bottom: 4px;
}
.flexToSide {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flCol {
    display: flex;
    flex-direction: column;
}
.sliderBox {
    margin: 0 auto;
    width: 810px;
}

.secSpace {
    margin-top: 60px;
}

.postSpacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hSpace {
    margin-top: 10px;
    font-size: 40px;
    text-shadow: 1px 1px 2px gray;
    text-align: center;
}

#newHeaderStyle {
    font-weight: bold;
    font-size: 18px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.submitButton {
    cursor: pointer;
    width: 100px;
    background: rgb(178,108,108);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}