.searchBarMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(70,178,101);
}
.searchInputArea {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h1Sty {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    color: white;
    text-shadow: 1px 2px 2px gray;
}

.inputBoxStyled {
    width: 80vw;
    background: rgb(178,108,108);
    border: none;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid rgb(178,108,108);
}
.inputBoxStyled::placeholder {
    color: lightpink;
}
.inputBoxStyled:focus {
    background: rgb(130,255,166);
    border-bottom: 1px solid rgb(178,108,108);
}

.buttonStyled {
    pointer-events: hand;
    width: 60px;
    background: rgb(178,108,108);
    color: white;
    border: 1px solid white;
    border-radius: 8px;

}
.buttonStyled:disabled {
    background: gray;
}
.vis {
    display: none;
}
.visOn {
    display: inline;
    position: fixed;
    left: 100px;
    top: 75px;
}